<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*huHJpqWg4AGMgIMovju5VQ.jpeg"
            cardTitle="Angular vs React vs Vue"
            cardDescription="Developed by Facebook, React is a popular framework used to create and operate the dynamic User Interface of the web pages. On the other side, Angular is Google’s most potent, efficient, and open-source Javascript framework that is used for developing a Single Page Application (SPA)."
            cardLink="https://levelup.gitconnected.com/angular-vs-react-vs-vue-which-is-the-best-choice-for-2020-81f577697c7e">
        </app-big-card>
    </div>
    <div class="articles__others">
        <div class="articles__item">
            <app-small-card
                photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*oEZC4NSVToygzMWLiVyNmQ.png"
                cardTitle="Top Angular Open Source Projects">
            </app-small-card>
        </div>
        <div class="articles__item">
            <app-small-card
                photoCover="https://ph-files.imgix.net/e3a262c7-1e28-4897-a2d2-2f11657560ee.png?auto=compress&codec=mozjpeg&cs=strip&auto=format&w=256&h=160&fit=crop&dpr=1"
                cardTitle="Tailwind UI Kit">
            </app-small-card>
        </div>
        <div class="articles__item">
            <app-small-card 
                photoCover="https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/9bec26d4fc199a94ace0449bac853e0f" 
                cardTitle="12 Best Alternatives To Angular, React and Vue">
            </app-small-card>
        </div>
    </div>
</div>